@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: rgb(128, 12, 12);
    --foreground: rrgba(255, 255, 255, 250);
    --card: rgb(120, 30, 30);
    --card-foreground: rgba(10, 10, 10, 1);
    --popover: rgba(255, 255, 255, 1);
    --popover-foreground: rgba(10, 10, 10, 1);
    --primary: rgba(23, 23, 23, 1);
    --primary-foreground: rgba(250, 250, 250, 1);
    --secondary: rgba(245, 245, 245, 1);
    --secondary-foreground: rgba(23, 23, 23, 1);
    --muted: rgba(245, 245, 245, 1);
    --muted-foreground: rgba(115, 115, 115, 1);
    --accent: rgba(245, 245, 245, 1);
    --accent-foreground: rgba(23, 23, 23, 1);
    --destructive: rgba(239, 68, 68, 1);
    --destructive-foreground: rgba(250, 250, 250, 1);
    --border: rgba(229, 229, 229, 1);
    --input: rgba(229, 229, 229, 1);
    --ring: rgba(10, 10, 10, 1);
    --chart-1: rgba(217, 91, 67, 1);
    --chart-2: rgba(41, 128, 127, 1);
    --chart-3: rgba(47, 71, 84, 1);
    --chart-4: rgba(214, 182, 57, 1);
    --chart-5: rgba(227, 126, 54, 1);
    --radius: 0.5rem;
  }

  .dark {
    --background: rgba(10, 10, 10, 1);
    --foreground: rgba(250, 250, 250, 1);
    --card: rgba(10, 10, 10, 1);
    --card-foreground: rgba(250, 250, 250, 1);
    --popover: rgba(10, 10, 10, 1);
    --popover-foreground: rgba(250, 250, 250, 1);
    --primary: rgba(250, 250, 250, 1);
    --primary-foreground: rgba(23, 23, 23, 1);
    --secondary: rgba(38, 38, 38, 1);
    --secondary-foreground: rgba(250, 250, 250, 1);
    --muted: rgba(38, 38, 38, 1);
    --muted-foreground: rgba(163, 163, 163, 1);
    --accent: rgba(38, 38, 38, 1);
    --accent-foreground: rgba(250, 250, 250, 1);
    --destructive: rgba(127, 29, 29, 1);
    --destructive-foreground: rgba(250, 250, 250, 1);
    --border: rgba(38, 38, 38, 1);
    --input: rgba(38, 38, 38, 1);
    --ring: rgba(212, 212, 212, 1);
    --chart-1: rgba(43, 88, 217, 1);
    --chart-2: rgba(46, 145, 115, 1);
    --chart-3: rgba(217, 140, 41, 1);
    --chart-4: rgba(157, 66, 217, 1);
    --chart-5: rgba(217, 66, 111, 1);
  }
}

/* @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

@layer base {
  /* Base input styles for all input types */
  input,
  textarea,
  select {
    @apply bg-white 
      border-gray-300 
      text-gray-900 
      placeholder-gray-500
      focus:outline-none
      focus:ring-2 
      focus:ring-blue-500 
      focus:border-blue-500
      
    dark:bg-gray-800 
    dark:border-gray-600 
    dark:text-white 
  }
  button{
    @apply
    dark:hover:bg-gray-500
  }
}
